<div class="container">
  <div class="col-sm-10 offset-sm-1">
    <h2 class="text-center">ユーザー情報編集</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field form-group">
      <%= f.label :password, "新パスワード" %> <i>(変更したくない場合は空白のままにしてください)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <% if @minimum_password_length %>
      <br />
      <em>最低 <%= @minimum_password_length %> 文字</em>
      <% end %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation,"新パスワード(再入力)" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :current_password, "現在のパスワード" %> <i>(パスワードを変更するためには現在のパスワードを入力する必要があります)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "更新", class:"btn btn-primary"%>
    </div>
    <% end %>

    <h3 class="text-center">アカウント削除</h3>

    <p>アカウントを削除しますか？ <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当によろしいですか？" }, method: :delete, class:"btn btn-danger" %></p>

    <%= link_to "Back", :back %>

  </div>
</div>
