<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <%= calendar number_of_days: 1, events: @tasks, start_date: params[:date] do |date,tasks| %>
      <%= date.day %>
      <% tasks.each do |task| %>
        <div class="task" style="background-color: <%="#{task.color}" %>;">
          <p><%= task.name %></p>
          <% if task.sub_task %>
          もしくは
          <p><%= task.sub_task %></p>
          <%end%>
          <%=link_to("/tasks/#{task.id}/destroy",method:"delete",class:"button1",title:"予定を削除します",data: {confirm: "本当に削除しますか"}) do %>
          <%= icon('fas','trash-alt') %>
          <%end%>
          <%=link_to("/tasks/#{task.id}/edit",class:"button2",title:"予定を編集します") do%>
          <%= icon('fas','edit') %>
          <%end%>
        </div>
      <%end%>
      <%end%>
    </div>
  </div>
</div>
