<!DOCTYPE html>
<html>
  <head>
    <title>TrainingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">TrainingApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <strong><%= link_to current_user.name, 'users#show' ,class: "nav-link"%></strong>
            </li>
            <li class="nav-item">
              <%= link_to 'プロフィール変更', edit_user_registration_path,class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', destroy_user_session_path,{class: "nav-link", method: "delete"} %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to '新規登録', new_user_registration_path,class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path,class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% if notice%>
    <div class="notice alert alert-success text-center" role="alert"><%= notice %></div>
    <%end%>
    <% if alert %>
    <div class="alert alert-danger text-center" role="aler"><%= alert %></div>
    <%end%>

    <%= yield %>
  </body>
</html>
